<div class="slider slider-for">
					<!-- Slider Single Item -->
					<div class="slider-item slickslider">
						<img src="../assets/common/img/slider/1.png" alt="" />
						<div class="slick-caption">
							<div class="slide-table container">
								<div class="table-cell row">
									<div class="col-md-12">
										<div class="slide-content text-center text-white">
											<h2>WELCOME TO <span>RAEES</span> </h2>
											<h1>BEST ARCHITECT AGENCY</h1>
											<div class="contact">
												<a href="#">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider Single Item -->
					<!-- Slider Single Item -->
					<div class="slider-item slickslider">
						<img src="../assets/common/img/slider/2.png" alt="" />
						<div class="slick-caption">
							<div class="slide-table container">
								<div class="table-cell row">
									<div class="col-md-12">
										<div class="slide-content text-center text-white">
											<h2>WELCOME TO <span>RAEES</span> </h2>
											<h1>BEST ARCHITECT AGENCY</h1>
											<div class="contact">
												<a href="#">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider Single Item -->
					<!-- Slider Single Item -->
					<div class="slider-item slickslider">
						<img src="../assets/common/img/slider/3.png" alt="" />
						<div class="slick-caption">
							<div class="slide-table container">
								<div class="table-cell row">
									<div class="col-md-12">
										<div class="slide-content text-center text-white">
											<h2>WELCOME TO <span>RAEES</span> </h2>
											<h1>BEST ARCHITECT AGENCY</h1>
											<div class="contact">
												<a href="#">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Slider Single Item -->
				</div>
				<!-- Thumbnail Image -->
				<div class="thumbnail-img slider slider-nav">
					<div><img src="../assets/common/img/slider/thumbnail-1.png" alt="" /></div>
					<div><img src="../assets/common/img/slider/thumbnail-2.png" alt="" /></div>
					<div><img src="../assets/common/img/slider/thumbnail-3.png" alt="" /></div>
				</div>
				<!-- Thumbnail Image -->
				<!-- Slider Area End -->
				<!-- Scroll Icon -->
				<div class="scroll-icon text-center">
					<a href="#about" class="wow fadeInDown infinite animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInDown;"><i class="icofont icofont-scroll-down"></i></a>
				</div>