{% set review = craft.entries.section('clientReview').all() %}
{% if review|length %}
{% for entry in review %}
<section class="testimonial-area pt-130 indicator-style">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonil-titel">
									<h2>{{entry.title}}</h2>
									<p>{{entry.summery}}</p>
								</div>
							</div>
							{% include "_includes/home/review_listing" with { service: entry.servicecontent.all() } only %}
							
						</div>
					</div>
				</section>
				{% endfor %}
				{% endif %}