<section class="testimonial-area pt-130 indicator-style">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="testimonil-titel">
									<h2>Clients Review</h2>
									<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem acium doloremque antium, totam rem aperiam</p>
								</div>
							</div>
							<div class="col-md-8">
								<div class="testimonial-owl owl-carousel owl-theme">
									<!-- Testimonial Single -->
									<div class="testimonial-single">
										<p>“Happy to work with Raeesees the best Arcitect agency perspiciatis unde omnis iste natus error sit volutatem acium doloremque”</p>
										<div class="testi-info text-right">
											<h6>Lora Craft</h6>
											<span>Managing Director</span>
										</div>
										<div class="testi-img">
											<img src="assets/common/img/client/1.png" alt="" />
										</div>
									</div>
									<!-- Testimonial Single -->
									<!-- Testimonial Single -->
									<div class="testimonial-single">
										<p>“Happy to work with Raeesees the best Arcitect agency perspiciatis unde omnis iste natus error sit volutatem acium doloremque”</p>
										<div class="testi-info text-right">
											<h6>Lora Craft</h6>
											<span>Managing Director</span>
										</div>
										<div class="testi-img">
											<img src="assets/common/img/client/2.png" alt="" />
										</div>
									</div>
									<!-- Testimonial Single -->
									<!-- Testimonial Single -->
									<div class="testimonial-single">
										<p>“Happy to work with Raeesees the best Arcitect agency perspiciatis unde omnis iste natus error sit volutatem acium doloremque”</p>
										<div class="testi-info text-right">
											<h6>Lora Craft</h6>
											<span>Managing Director</span>
										</div>
										<div class="testi-img">
											<img src="assets/common/img/client/1.png" alt="" />
										</div>
									</div>
									<!-- Testimonial Single -->
								</div>
							</div>
						</div>
					</div>
				</section>