<section class="aboutus-area ptb-130" id="about">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="about-left">
									<img src="../assets/common/img/other/about.png" alt="" />
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="about-right mt-30">
									<h2>Over <span><img src="../assets/common/img/icon/1.png" alt="" /></span> years of Experience</h2>
									<h4>A Little Bit About <span>RAEES</span></h4>
									<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo tore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem accusantium doloremque laudantium, totam rem aperiam</p>
									<div class="download">
										<a href="#" target="_blank"><i class="icofont icofont-download"></i>Download Marketing Brochure</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>