{% set exp = craft.entries.section('experience').limit(1).all() %}
{% if exp|length %}
<section class="aboutus-area ptb-130" id="about">
					<div class="container">
					{% for experience in exp %}
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="about-left">
								 {% if experience.postImage|length %}
                                    {% set expimage = experience.postImage.one() %}
									<img src="{{ expimage.getUrl() }}" alt="" />
									{% endif %}
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="about-right mt-30">
									<h2>{{experience.postHead}}</h2>
									<h4>{{experience.postTitle}}</h4>
									<p>{{experience.postContent}}</p>
									
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</section>
				{% endif %}