{% set company = craft.entries.section('trendingCompany').all() %}
{% if company|length %}
<div class="our-client-area ptb-130">
					<div class="container">
						<div class="row">
							<div class="ourclient-active owl-carousel owl-theme">
								<!-- Our Client Single -->
								{% for key, company in company %}
								{% if company.trendingCompanyLogo|length %}
                                {% set image = company.trendingCompanyLogo.one() %}
								<div class="testi-signal item">
									<img src="{{image.getUrl()}}" alt="{{image.title}}" />
								</div>
								{% endif %}
								{% endfor %}
								<!-- Our Client Single -->
								
							</div>
						</div>
					</div>
				</div>
				{% endif %}