{% extends "_layout" %}
{% block slider %}
  
{% endblock %}

{% block content %}
<section class="breadcrumbs-area pt-200 pb-120 bg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="breadcrumbs">
                                <h2 class="page-title">Blog</h2>
                                <ul>
                                    <li>
                                        <a class="active" href="http://{{ siteUrl }}">Home</a>
                                    </li>
                                    <li>Blog</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<div class="page-content">
        {# Blog Start #}
        {% include "_includes/common/blog" %}
        {# Blog Ends #}

        {# Trending Company Start #}
        {% include "_includes/home/trending_company" %}
        {# Trending Company Ends #}
</div>
{% endblock %}