{% extends "_layout" %}
{% block slider %}

  {% include "_includes/home/home_slider" %}

  
{% endblock %}




{% block content %}

  <div class="page-content">

    {# Experience section starts #}
      {% include "_includes/home/home_experience" %}
    {# Experience section ends #}

  </div>

  
{% endblock %}