{% extends "_layout" %}
{% block slider %}

  {% include "_includes/home/home_slider" %}

  
{% endblock %}




{% block content %}

  <div class="page-content">

    {# Experience section starts #}
      {% include "_includes/home/home_experience" %}
    {# Experience section ends #}
    {# Services section starts #}
      {% include "_includes/common/services" %}
    {# Services section ends #}

    {# Contact Us Button Start #}
				<section class="contactus-btn bg-2 bg-overlay-1 ptb-80">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-sm-12">
								<div class="contact-btn-left">
									<h2>We Shape your Dreams</h2>
									<p>Raees the best Architect agency perspiciatis unde omnis iste natus error sit volutatem accusantium doloremque  antium, totam rem aperiam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vita </p>
								</div>
							</div>
							<div class="col-md-2 col-sm-12">
								<div class="contact-btn f-right">
									<a href="#">Contact Us</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				{# Contact Us Button End #}

        {# How we work Start #}
        {% include "_includes/common/how_we_work" %}
        {# How we work  Ends #}

        {# Our Team Start #}
        {% include "_includes/common/our_team" %}
        {# Our Team Ends #}

        {# Achievements Start #}
        {% include "_includes/common/achievements" %}
        {# Achievements Ends #}

        {# Client Review Start #}
        {% include "_includes/home/client_review" %}
        {# Client Review Ends #}

        {# Blog Start #}
        {% include "_includes/common/blog" %}
        {# Blog Ends #}

        {# FAQ Start #}
        {% include "_includes/common/faq" %}
        {# FAQ Ends #}

        {# Trending Company Start #}
        {% include "_includes/home/trending_company" %}
        {# Trending Company Ends #}

  </div>

  
{% endblock %}