{% set achievement = craft.entries.section('achievement').all() %}
{% if achievement|length %}
<section class="funfact-area ptb-85 bg-2 bg-overlay-1">
					<div class="container">
						<!-- Funfact Single -->
						{% for key, achievement in achievement %}
						<div class="funfact-single text-center">
							<div class="funfact-img">
								{% if achievement.progressIcon|length %}
                                {% set image = achievement.progressIcon.one() %}
								<img src="{{ image.getUrl() }}" alt="{{ image.title }}">
								{% endif %} 
							</div>
							<div class="funfact-count text-uppercase">
								<h3><span class="counter">{{ achievement.progressNumber }}</span></h3>
								<h5>{{ achievement.progressName }}</h5>
							</div>
						</div>
						{% endfor %}
						<!-- Funfact Single -->
						
					</div>
				</section>
				
				{% endif %}