{% set faq = craft.entries.section('frequentlyAskedQuestion').all() %}
{% if faq|length %}
{% for entry in faq %}
<section class="frequentialy-area ptb-85 bg-3">
					<div class="container">
						<div class="row">
							
							<div class="col-md-3 col-md-offset-1 col-sm-12">
								<div class="frequentialy-img mt-75">
									{% if entry.faqImage|length %}
									{% set image = entry.faqImage.one() %}
										<img src="{{ image.getUrl() }}" alt="{{ image.title }}" />
									{% endif %}
									
								</div>
							</div>
							
							<div class="col-md-8 col-sm-12">
								
								<div class="frequentialy-titel">
									<h2>{{entry.faqTitle}}</h2>
									<p>{{entry.faqSummary}}</p>
								</div>
								
								{% include "_includes/common/faq_listing" with { faqList: entry.faqQanda.all() } only %}
								
								
							</div>
							
						</div>
					</div>
				</section>
				{% endfor %}
				{% endif %}