<section class="working-area pb-130 pt-70">
					<div class="container">
						<!-- Single Working Way -->
						<div class="working-single">
							<div class="working-titel">
								<img src="assets/common/img/icon/w1.png" alt="">
								<h4>Analyze</h4>
							</div>
							<div class="working-text">
								<p>Raees the best Architect gency perspiciatis under omnis istetus error sit </p>
							</div>
							<span class="numbering">01</span>
						</div>
						<!-- Single Working Way -->
						<!-- Single Working Way -->
						<div class="working-single">
							<div class="working-titel">
								<img src="assets/common/img/icon/w2.png" alt="">
								<h4>Planning</h4>
							</div>
							<div class="working-text">
								<p>Raees the best Architect gency perspiciatis under omnis istetus error sit </p>
							</div>
							<span class="numbering">02</span>
						</div>
						<!-- Single Working Way -->
						<!-- Single Working Way -->
						<div class="working-single">
							<div class="working-titel">
								<img src="assets/common/img/icon/w3.png" alt="">
								<h4>Develop</h4>
							</div>
							<div class="working-text">
								<p>Raees the best Architect gency perspiciatis under omnis istetus error sit </p>
							</div>
							<span class="numbering">03</span>
						</div>
						<!-- Single Working Way -->
						<!-- Single Working Way -->
						<div class="working-single">
							<div class="working-titel">
								<img src="assets/common/img/icon/w4.png" alt="">
								<h4>Finishing</h4>
							</div>
							<div class="working-text">
								<p>Raees the best Architect gency perspiciatis under omnis istetus error sit </p>
							</div>
							<span class="numbering">04</span>
						</div>
						<!-- Single Working Way -->
						<!-- Single Working Way -->
						<div class="working-single">
							<div class="working-titel">
								<img src="assets/common/img/icon/w5.png" alt="">
								<h4>Support</h4>
							</div>
							<div class="working-text">
								<p>Raees the best Architect gency perspiciatis under omnis istetus error sit </p>
							</div>
							<span class="numbering">05</span>
						</div>
						<!-- Single Working Way -->
					</div>
				</section>