<section class="our-team gray-bg ptb-40 indicator-style" id="team">
					<div class="container">
						<div class="row">
							<!-- Team Left Area Start -->
							<div class="col-md-12">
								<!-- Team Titel -->
								<div class="team-titel mt-20">
									<h4>Hay !</h4>
									<p>Here is our genius people</p>
								</div>
								<!-- Team Titel -->
								<div class="ourteam-owl owl-carousel owl-theme">
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/1.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Martino Falmingo</h5>
											<span>Head of Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/2.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Martino Falmingo</h5>
											<span>Head of Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/3.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Martino Falmingo</h5>
											<span>Head of Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/4.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Martino Falmingo</h5>
											<span>Head of Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/3.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Stephen Spelberg</h5>
											<span>Senior Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
									<!-- Team Single -->
									<div class="team-single">
										<div class="team-img">
											<img src="assets/common/img/team/2.png" alt="" />
										</div>
										<div class="team-details text-center">
											<h5>Liyonardo De Nawaz</h5>
											<span>Junior  Architect</span>
										</div>
										<div class="team-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
												<li class="social-phone"><a href="#"><img src="assets/common/img/icon/social.png" alt="" /></a></li>
												<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- Team Single -->
								</div>
							</div>
							<!-- Team Left Area Start -->
						
						</div>
					</div>
				</section>