
  {% for block in blocks %}
   
      {% if block.type == 'text' %}
        <p>{{ block.text }}</p>
      {% elseif block.type == 'image' %}
        {% for image in block.image.all() %}
          <img src="{{ image.url }}" alt="{{ image.title }}" />
        {% endfor %}
      {% endif %}
    
  {% endfor %}
