{% set service = craft.entries.section('services').all() %}
{% if service|length %}
{% for entry in service %}
<section class="specialization-area bg-1 pt-70 pb-55" id="service">
					<div class="container">
						<div class="row">
							<div class="col-md-offset-2 col-md-10">
								<div class="specialization-titel pb-55">
									<h2>{{entry.title}}</h2>
									<p>{{entry.summery}}</p>
								</div>
							</div>
							
							{% include "_includes/common/service_listing" with { service: entry.servicecontent.all() } only %}
						</div>
					</div>
				</section>
				{% endfor %}
				{% endif %}