{% extends "_layout" %}
{% block slider %}
  
{% endblock %}

{% block content %}
{% include "_includes/singles/breadcrumb" %}

<div class="page-content">
    <div class="contact-area gray-bg ptb-100">
                    <div class="container">
                        <div class="row">
                            {% include "_includes/common/contact_form" only %}
                            <div class="col-md-4 col-xs-12">
                                <div class="fotter-single-area res-contact">
                                    <h3 class="leave-comment-text">contact info</h3>
                                    <div class="contact-details">
                                        <ul>
                                            <li>
                                                <img src="../img/icon/c1.png" alt="" />
                                                <p>8901 Marmora Raod, <br> Glasgow, D04  89GR</p>
                                            </li>
                                            <li>
                                                <img src="../img/icon/c2.png" alt="" />
                                                <p>Telephone : (801) 4256456  985634 <br> Telephone : (801) 4256456  985634</p>
                                            </li>
                                            <li>
                                                <img src="../img/icon/c3.png" alt="" />
                                                <p>Email : info@raeesdevitemsllcdh.com <br> Web : www.raeesdevitems.com</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
                <div class="map-area">
                    <div class="contact-map">
                        <div id="hastech"></div>
                    </div>
                </div>
        {# Trending Company Start #}
        {% include "_includes/home/trending_company" %}
        {# Trending Company Ends #}
</div>
{% endblock %}